.contents
  = render "shared/side_bar"

  .main-contents
    .chat-header
      .chat-group
        %p.chat-group__name グループ名
        %p.chat-group__members Members: member1 member2 member3
      = link_to "Edit", '#'

    .group-messages
      %ul.messages
        = render @messages
    .form
      = form_for [@group, @message] ,html: {id: "new_message"} do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
